<!DOCTYPE html>
<html>
  <head>
    <title>ping-pong</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
      #banner {
        width: 100%;
        height:360px;
        object-fit: cover;
    </style>
    
    </head>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center shadow-lg p-3 mb-1 bg-body-tertiary rounded">Anonymous!</h1>
      
      <img class="img-fluid" id="banner" src="https://basic-webdev--subhasardaranon.repl.co/static/a.jpg">
  
      <h2 class="mb-1">About Community</h2>
  
      <p>
        Anonymous has grown and evolved from a group mainly focused on pranks to a collective participating in significant social and political movements. However, due to its decentralized structure, the group’s lack of hierarchy and leadership allows for a diverse and sometimes contradictory existence. Individuals or sub-groups often pursue their agendas under the Anonymous banner.
      </p>
  
      <h2>Opening Positions</h2>
      <p class="d-inline-flex focus-ring focus-ring-danger py-1 px-2 text-decoration-none border rounded-2">To be continue...</p>
        <div class="text-center">
          <button class="btn btn-outline-danger">Contact Us!</button>
          <p class="mt-2 mb-1">Copyright 2023, Anonymous</p>
        </div>
      </div>
  </body>
</html>